{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/main.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.modal').modal();
            $('select').material_select();
        });

        $('.availability').click(function() {
            if ($(this).attr('data-chosen') == 'false'){
                $(this).css("background","#46D946");
                $(this).attr("data-chosen", 'true');
            } else {
                if ($(this).parents('.even').length == 1) {
                    $(this).css("background","#d3d3d3");
                } else {
                    $(this).css("background","#EBEBEB");
                }
                $(this).attr("data-chosen", "false");
            }
        });

        function update_times() {
            var ids = $("td[data-chosen='true']").map(function(index) {
                return this.id;
            });
            var json = JSON.stringify(ids);
            $('#id_field').attr("value", json);

        }
    </script>
{% endblock %}

{% block content %}
    <div id="add_section" class="modal" style="width: 800px !important;">
        <div class="modal-content" style="height: 50vh !important;">
            <h3 class="center-align">Create Section</h3>
            
            <div class="row" style="margin-top: 15px">
                <div class="input-field col s3 offset-s1">
                    <input type="text" id="modal_room_nbr" placeholder="Enter a Room #">
                    <label for="modal_room_nbr">Rm #</label>
                </div>

                <div class="input-field col s3">
                    <select id="modal_tri_nbr">
                        <option value="" disabled selected>Select a Trimester</option>
                        <option value="1">Tri 1</option>
                        <option value="2">Tri 2</option>
                        <option value="3">Tri 3</option>
                    </select>

                    <label for="modal_tri_nbr">Trimester #</label>
                </div>

                <div class="input-field col s4">
                    <select id="modal_year">
                        <option value="" disabled selected>Select a Year</option>
                        <option value="2018-2019">2018-2019</option>
                        <option value="2019-2020">2019-2020</option>
                        <option value="2020-2021">2020-2021</option>
                    </select>

                    <label for="modal_tri_nbr">Year</label>
                </div>
            </div>

            <div class="row">
                <h4 class="center-align">Select Mods</h4>

                <table class="table-fill striped centered">
                    <thead id="days">
                        <tr class="table_tr">
                            <th class="table_th">M</th>
                            <th class="table_th">T</th>
                            <th class="table_th">W</th>
                            <th class="table_th">R</th>
                            <th class="table_th">F</th>
                        </tr>
                    </thead>

                    <tbody>
                        {%  set index = 0 %}
                        {%  for i in range(8) %}

                            {% if i % 2 == 1 %}
                                <tr class="table_tr even" id="{{ mods[i] }}">
                            {% else %}
                                <tr class="table_tr even" id="{{ mods[i] }}">
                            {% endif %}

                            {% for j in range(5) %}
                                {% set available = false %}

                                {% if avaiable == false %}
                                {%  %}
                            {% endfor %}

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
        </div>
    </div>

    <form action="." method="post">
        <div id="box" class="container">
            <div class="row">
                <div class="col s12 center-align">
                    <h3 class="title">Create Elective</h3>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s4">
                    <input id="elective_name" name="elective_name" type="text" class="validate">
                    <label for="elective_name">Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="elective_desc" name="elective_desc" class="materialize-textarea"></textarea>
                    <label for="elective_desc">Description</label>
                </div>
            </div>

            <table class="centered">
                <thead>
                    <tr>
                        <th>Section</th>
                        <th>Teacher</th>
                        <th>Tri / Year</th>
                        <th>Rm #</th>
                        <th>Days/Mods</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <a class="waves-effect waves-light btn modal-trigger" href="#add_section" style="background-color: deepskyblue;">+ Section</a>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="col s4 offset-s4">
                <a class="waves-effect waves-light btn" style="background-color: limegreen; margin-top: 15px;">Submit</a>
            </div>
        </div>
    </form>

{% endblock %}