{% extends "base.html" %}

{% block content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/timeline.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<div class="full-width">
    <h1 class="center">About the BCA Apps</h1>

    <p>This suite of applications has been developed by the students of BCA with the
        goal of making all of our lives more efficient.  If you have ideas for new applications, questions, or feedback please contact Bryan Respass.</p>

    <p>This page provides the history of the development of the applications. </p>

    <div>
        <div class="timeline timeline-alternating timeline-collapsing timeline-with-arrows blue-red-red">


              <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>October 2018</h2>
                    <p> AVPA/T Graduation Requirements Tracker </p>

                    <h3>Features</h3>
                    <ul>
                        <li>AVPA/T students can record their roles in various productions for the purposes of satisfying graduation requirements.</li>
                        <li>AVPA/T teachers can review and approve these designations.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <a href="https://github.com/20nlevin">Nicholas Levin</a></li>
                    </ul>
                </div>
            </div>


            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>September 2018</h2>
                    <p> A huge amount of development on new applications and features.</p>

                    <h3>Features</h3>
                    <ul>
                        <li>Attendance - New attendance application for managing student signins and signouts.</li>
                        <li>Dashboard - Teachers can download and print course rosters.</li>
                        <li>Projects - Security and administration improvements.</li>
                        <li>Internships - All users can view prior senior internships.</li>
                        <li>User Profile - New gear feature that allows users to view and update their profile.</li>
                        <li>Excel - CSV exports have been updated to use Excel format.  Excel exports added to many list pages.</li>
                        <li>Need to print - Printing from the browser now works!</li>

                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li>Dashboard:
                            <a href="https://github.com/taaara">Tara Yu</a>
                        </li>
                        <li>Projects:
                            <a href="https://github.com/Mars7543">Miguel Roberts</a>,
                            <a href="https://github.com/taaara">Tara Yu</a>
                        </li>
                        <li>Attendance:
                        <li><a href="https://github.com/20nlevin">Nicholas Levin</a></li>
                            <a href="https://github.com/daniellacalle">Daniella Calle</a>
                        </li>
                        <li>Internship:
                            <a href="https://github.com/davidionita">David Ionita</a>
                        </li>
                        <li>User Profile:
                            <a href="https://github.com/Marvinesc3">Marvin Escobar</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>June 2018</h2>
                    <p> Transcripts (Beta launch!) </p>

                    <h3>Features</h3>
                    <ul>
                        <li>Students can submit non-college transcript requests.</li>
                        <li>Counseling office can track and record status on all requests.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li><a href="https://github.com/nahkim20">Nahyun (Kate) Kim</a></li>
                        <li><a href="https://github.com/kairuihuang">Kairui Huang</a></li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>May 2018</h2>
                    <p> Project Registration!  </p>

                    <h3>Features</h3>
                    <ul>
                        <li>Teachers can create projects for any future trimester.</li>
                        <li>Teachers can see, add, and remove students from projects.</li>
                        <li>Students can review and register for projects.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li><a href="https://github.com/daniellacalle">Daniella Calle</a></li>
                        <li><a href="https://github.com/CelinaPeralta">Celina Peralta</a></li>
                        <li><a href="">Tara Yu</a></li>
                    </ul>
                </div>
            </div>


            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>May 2018</h2>
                    <p> Senior Exhibitions v3.0!  </p>

                    <h3>Features</h3>
                    <ul>
                        <li>Complete page flow and UI redesign.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li><a href="">Miguel Roberts</a></li>
                        <li><a href="">Ross Newman</a></li>
                    </ul>
                </div>
            </div>


            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>May 2018</h2>
                    <p> Field Day app launched!  </p>

                    <h3>Features</h3>
                    <ul>
                        <li>Students can see their assigned field day teams.</li>
                        <li>Students and teachers are able to register for field day events.</li>
                        <li>Integrated scoring to track the teams' performance.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li><a href="">Ross Newman</a></li>
                        <li><a href="">Nicholas Levin</a></li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>April 2018</h2>
                    <p> Internships app launched!  </p>

                    <h3>Features</h3>
                    <ul>
                        <li>In this first release, seniors can enter information about their internship.</li>
                        <li>Soon, students will be able to upload their internship contracts and the school will be able to track and record internship site visits.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li><a href="">Sean Kim</a></li>
                        <li><a href="https://github.com/anoushkaramkumar">Anoushka Ramkumar</a></li>
                        <li><a href="">Vedant Rautela </a></li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>January 2018</h2>
                    <p> IDA released for managing this year's event. </p>

                    <h3>Features</h3>
                    <ul>
                        <li>Complete page flow and UI redesign.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li><a href="https://github.com/anoushkaramkumar">Anoushka Ramkumar</a></li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>October 2017</h2>
                    <p> Release of new Field Trip application.</p>

                    <h3>Features</h3>
                    <ul>
                        <li>Teachers can create field trips and track the students on those trips.</li>
                        <li>Other teachers can see which students will be missing class as a result of any trip on a given day.</li>
                        <li>Office personnel can monitor the list of all trips in the system.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li><a href="https://github.com/anoushkaramkumar">Anoushka Ramkumar</a></li>
                        <li><a href="">Vedant Rautela </a></li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>September 2017</h2>
                    <p> A huge amount of development on new applications and features.</p>

                    <h3>Features</h3>
                    <ul>
                        <li>New "dashboard" user interface to integrate all of the applications.</li>
                        <li>Updated user interface to Materialize framework.</li>
                        <li>New applications -- Field Trips and Evening Hours!</li>
                        <li>Beta Releases - Transcripts and Project Scheduling</li>
                        <li>New Excel file generation for reports.</li>
                        <li>Advanced audit tracking of data changes.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li>Dashboard:
                            <a href="https://github.com/irisval">Iris Kim</a>
                        </li>
                        <li>Evening Hours:
                            <a href="https://github.com/Ross3102">Ross Newman</a>
                        </li>
                        <li>Projects:
                            <a href="https://github.com/CelinaPeralta">Celina Peralta</a>,
                            <a href="https://github.com/daniellacalle">Daniella Calle</a>
                        </li>
                        <li>Shared Resources
                            <a href="https://github.com/nahkim20">Kate Kim</a>
                        </li>
                        <li>Teacher Proctoring:
                            <a href="https://github.com/20nlevin">Nicholas Levin</a>
                        </li>
                        <li>Transcripts:
                            <a href="https://github.com/Mars7543">Miguel Roberts</a>,
                            <a href="https://github.com/kairuiHuang">Kairui Huang</a>,
                            <a href="https://github.com/jameslepone">James Lepone</a>
                        </li>

                    </ul>
                </div>
            </div>


            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>May 2017</h2>
                    <p> Senior Experience improved so that Seniors directly setup their presentations via the application.  Seniors register for time slots and rooms for the presentations.</p>

                </div>
            </div>


            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>January 2017</h2>
                    <p> Three new BCA apps have been released since Career Day was
                        created last year.  In this release, Career Day has been updated to include
                        new features and styles from those applications while also
                        improving its administrative pages.</p>

                    <p> The official release of the teacher proctoring application. </p>

                    <h3>Career Day Features </h3>
                    <ul>
                        <li>Color theme and styling redesign, imported from work on other BCA applications.</li>
                        <li>Full set of administration pages; enabling Ms. Pinke
                            to run all aspects of the application.</li>
                    </ul>

                    <h3>Teacher Proctoring Features </h3>
                    <ul>
                        <li>Teacher page updated to list up to 12 tests without scrolling.</li>
                        <li>New fields for tests added, including Number of Students, Lead Proctor, and Active.</li>
                        <li>Dates now include day of week wherever listed for teachers.</li>
                        <li>Cleaned up the administrative test listing page.</li>
                        <li>PDF report listing teachers registered to proctor a given test.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li>Career Day:
                            <a href="https://github.com/Clink123">James Lepone</a>,
                            <a href="https://github.com/cr1nge">Kincent Lan</a>,
                            <a href="https://github.com/nicolettemaria">Nicolette Tovstashy</a>,
                            <a href="https://github.com/katiekatz">Katie Katz</a>
                        </li>
                        <li>Teacher Proctoring:
                            <a href="https://github.com/CelinaPeralta">Celina Peralta</a>
                            <a href="https://github.com/Clink123">James Lepone</a>
                            <a href="https://github.com/DavidYi">David Yi</a>
                            <a href="https://github.com/jeffersonxu">Jefferson Xu</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>December 2016</h2>
                    <p>IDA is our third "sign-up" style application, following the model of
                        Senior Experience and Career Day.  Though still using a similar page-flow
                        to the earlier applications, the interface has been significantly
                        restyled and many new administrative pages have been created.</p>

                    <h3>Development</h3>
                    <ul>
                        <li>Lead:
                            <a href="https://github.com/katiekatz">Katie Katz</a>
                        </li>
                        <li>BCA Interface Design:
                            <a href="https://github.com/nicolettemaria">Nicolette Tovstashy</a>,
                        </li>
                        <li>Developers:
                            <a href="https://github.com/srobin31">Shawn Robin</a>,
                            <a href="https://github.com/jeffersonxu">Jefferson Xu</a>,
                            <a href="https://github.com/clink123">James Lepone</a>,
                            <a href="https://github.com/DavidYi">David Yi</a>,
                            <a href="https://github.com/CelinaPeralta">Celina Peralta</a>,
                            <a href="https://github.com/BrianMejia">Brian Mejia</a>,
                            <a href="https://github.com/sophiasaur">Sophia Zuo</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>October 2016</h2>
                    <p>Beta release of Teacher Proctoring -- a tool that enables teachers to self-schedule to proctor standarized tests.</p>

                    <h3>Features </h3>
                    <ul>
                        <li>Full set of administration pages to enable lead proctors to create tests.</li>
                        <li>Pages enabling teachers to register for proctoring.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li><a href="https://github.com/BrianMejia">Brian Mejia</a></li>
                        <li><a href="https://github.com/CelinaPeralta">Celina Peralta</a></li>
                    </ul>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>May 2016</h2>
                    <p>Beta of Senior Experience.  Structurally similar to Career Day with a number of pending features to enable Seniors to create their presentations inside the application.</p>
                </div>
            </div>

            <div class="timeline-block">
                <div class="timeline-icon"></div>
                <div class="timeline-content">
                    <h2>January 2016</h2>
                    <p>Our first BCA app released!  This release provides the conceptual
                        and style design for future BCA applications.</p>

                    <h3>Features </h3>
                    <ul>
                        <li>User authentication against the BCA domain.</li>
                        <li>Itinerary and registration pages for students.</li>
                        <li>PDF room signs and and sign-in sheets for each room.</li>
                        <li>Students who do not sign up for sessions are auto-assigned.</li>
                    </ul>

                    <h3>Development Team</h3>
                    <ul>
                        <li>UI Design:
                            <a href="https://github.com/nimus0108">Su Min Kim</a>,
                            <a href="https://github.com/jayhxmo">Jay Mo</a>
                        </li>
                        <li>Implementation:
                            <a href="https://github.com/LiamRahav">Liam Rahav</a>,
                            <a href="https://github.com/LukeLaScala">Luke LaScala</a>
                        </li>
                        <li>PDF Aficionado: <a href="https://github.com/DavidYi">David Yi</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}