{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col m12 l6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text" style="overflow: hidden">
                    <span class="card-title" style="color:#c5cae9;text-align:center">Students Missing for Trips</span>

                    <?php $date = ""; $count_tests = 0; $internal_count = 0; $more_absent = false; if(count($missing_students) == 0){ ?>

                        <p style="text-align:center">No Students Absent!</p>
                        <div style="display: none">
                            <?php } else { ?> <div style="display: none"> <?php foreach($missing_students as $student) { ?>

                            <?php
                            if($date == $student['class_dt'] && $count_tests >= 5) {
                                $internal_count++;
                                $more_absent = true;
                                continue;
                            }
                            if($more_absent) {
                                ?><p>+<?php echo $internal_count ?> more students <?php
                                $more_absent = false;
                                $internal_count = 0;
                            }
                            if($date != $student['class_dt']){
                                $count_tests = 0;
                            ?>
                                </div>
                                <div class="col s12 m6">
                                <h5 style="border-bottom: 1px solid white;"><?php echo $student['class_dt'] ?></h5>
                            <?php $date = $student['class_dt']; } ?>
                            <p><?php echo ($student["student_name"] . ' (' . $student["mods"] . ')'); $count_tests++;?></p>
                        <?php }
                        if($more_absent) {
                            ?><p>+<?php echo $internal_count ?> more students</p> <?php
                                        $more_absent = false;
                                        $internal_count = 0;
                        }}?>

                    </div>
                    </div>
                        <div class="center-align">
                        <a href="http:///{{ config.PHP_DOMAIN }}/field-trip" class="waves-effect waves-light btn" style="margin-top:2%;margin-bottom:3%;background-color:#78BAFC">Open Field Trip App</a>
                        </div>
                    </div>
                </div>

                <div class="col m12 l6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text" style="overflow:hidden">
                            <span class="card-title" style="color:#c5cae9;text-align:center">Proctoring</span>
                            <p style="text-align:center">You have scheduled <?php echo $count ?> of <?php echo $req_hours ?> hours.</p>

                            <?php if(count($upcoming_tests) == 0) { ?>
                            <p style="text-align:center">No upcoming proctoring assignments.</p>
                            <?php } else {$index = 0;  ?>
                                <h5 style="margin-top:1em; text-align:center">Upcoming Assignments</h5>

                                <table>
                                    <thead>
                                    <tr>
                                       <th>Test</th>
                                        <th>Date</th>
                                        <th>Mods</th>
                                        <th>Room</th>
                                    </tr>
                                    </thead>
                            <?php foreach($upcoming_tests as $test) { ?>
                            <tr style="margin-top: 0; margin-bottom: 0;">
                                <?php echo (
                                        '<td style="padding-top: 0; padding-bottom: 0;">' . $test['test_name'] . '</td>' .
                                        '<td style="padding-top: 0; padding-bottom: 0;">' . $test['test_dt'] . '</td>' .
                                        '<td style="padding-top: 0; padding-bottom: 0;">' . $test['test_time_desc'] . '</td>' .
                                        '<td style="padding-top: 0; padding-bottom: 0;">' . $test['rm_nbr'] . '</td>');?>
                            </tr>
                                <?php }?>
                                </table>
                                <?php } ?>
                            <div class="center-align">
                            <a href="http://{{ config.PHP_DOMAIN }}/teacher-proctoring" class="waves-effect waves-light btn" style="margin-top:2%;margin-bottom:3%;background-color:#78BAFC">Open Proctoring App</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}