{% extends "base.html" %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/admin/main.css') }}">
{% endblock %}


{% block content %}

    <div class="container">
    <h3 class="center-align">Admin Tools</h3>
    <ul class="collection with-header">

        <a href="mimic_user" class="collection-item avatar">
            <i class="material-icons circle red">person</i>
            <h6 class="title">Mimic User</h6>
            <p class="small-text">Log in as any user in the database and use the app as if you were them.</p>
        </a>

        <a href="audit_viewer" class="collection-item avatar">
            <i class="material-icons circle red">edit</i>
            <h6 class="title">Audit Viewer</h6>
            <p class="small-text">View all database audits from the past week.</p>
        </a>

        <a href="log_viewer" class="collection-item avatar">
            <i class="material-icons circle red">report_problem</i>
            <h6 class="title">Log Viewer</h6>
            <p class="small-text">View the application log.</p>
        </a>

        <a href="signup_dates" class="collection-item avatar">
            <i class="material-icons circle red">access_time</i>
            <h6 class="title">Signup Dates</h6>
            <p class="small-text">View and edit signup deadlines by grade.</p>
        </a>

        <a href="roles" class="collection-item avatar">
            <i class="material-icons circle red">person_add</i>
            <h6 class="title">Roles</h6>
            <p class="small-text">Set and manage roles for projects.</p>
        </a>

        <a href="variables" class="collection-item avatar">
            <i class="material-icons circle red">view_quilt</i>
            <h6 class="title">Variables</h6>
            <p class="small-text">Set and manage variables for projects.</p>
        </a>


        <!--<a href="roles" class="collection-item avatar">
            <i class="material-icons circle red">person_add</i>
            <h6 class="title">Roles</h6>
            <p class="small-text">Set roles for proctoring.</p>
        </a>-->
    </ul>
</div>

{% endblock %}