#box {
    display: table;
    background-color: #fefefe;
    margin: auto auto 20px;
    width: 900px !important;
    height: 80vh !important;
    -moz-box-shadow: 1px 1px 1px #a8a8a8;
    -webkit-box-shadow: 1px 1px 1px #a8a8a8;
    /*box-shadow: 3px 2px 3px 2px #a8a8a8;*/
    box-shadow: 1px 3px 10px 2px #a8a8a8;
    padding: 30px 30px 30px 30px;
}

ul.autocomplete-content.dropdown-content {
    max-height: 350px;
}