/*$darker: rgb(46,53,65);*/
/*$darker: #12151a;*/
html, body {
  font-weight: 400;
  background-color: #f7f8f9 !important; }

header, footer, main {
  padding-left: 300px; }

#welcome-student {
  padding-left: 30px; }

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0; } }
.darker {
  background-color: #fff !important; }

.side-nav {
  background-color: #262d38 !important; }

.button-collapse {
  color: black; }

.nav-link {
  text-transform: uppercase !important;
  float: left; }

.fa {
  color: white !important; }

#nav-top-bar {
  width: 100%;
            /*
background-color:#448aff;*/
  /*background-color: #3d5afe;*/
  background-color: #fff;
  /*background-color: #f44336;*/
  height: 4em;
  margin-bottom: 4.5em; }

.bca-header {
  padding-top: 0.5em;
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "Palanquin", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
  line-height: 0;
  color: #ffb300; }

.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
  float: left;
  /* padding-right: 0.2em; */
  height: 48px;
  line-height: 48px;
  /* margin: 0 0px 0 0; */
  /* width: 24px; */
  color: rgba(0, 0, 0, 0.54); }

.subtext {
  letter-spacing: 1.5px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 5em;
  margin: -3px;
  font-size: 0.95rem;
  color: #1c2129 !important; }

/*element.style {
}
materialize.css:7289*/
.side-nav li > a {
  padding: 0 20px !important; 
  width: 100%; }

#head {
  font-weight: 700;
  padding-top: 0.5em;
  font-size: 1.75em;
  font-weight: 700;
  letter-spacing: 3px;
  font-family: "Palanquin", sans-serif;
  color: black !important;
  border-left: none; }

/*.fa-fire {
	color: #ffd54f !important;
}
*/
.side-nav li > a:hover, .side-nav li > a:hover:active {
  color: #fff !important;
  border-left: 2px solid #ffcc66; }

.top-bar {
  width: 100%; }

nav {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important; }

.nav-wrapper {
  /*background-color: #f44336;*/
  /*background-color: #448aff;*/
  /*background-color: #3d5afe;*/
  background-color: #fff;
  border: none !important;
  /*	box-shadow: none !important;
  	    box-shadow: 0 4.375em 7.5em rgba(0, 0, 0, 0.33);
  */ }

#nav-wrapper-impt {
  padding-left: 2.75em !important;
}

.side-nav li>a:hover {
    background-color: rgba(0,0,0,0) !important;
}
.nav-text, #nav-top-bar {
  font-family: "Palanquin", sans-serif !important;
}

.nav-text {
  font-weight: 300;
  font-size: 1.2rem; }

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper, .navbar-fixed {
    height: 4em !important; } }
/*.card {
  width: 17em !important;
  border-top: 2.5px solid #ffcc66; }
*/


.sec {
  display: none; }

/*# sourceMappingURL=main.css.map */


.breadcrumb-nav {
  background-color: #262d38 !important;
  height: 2.4em !important;
  padding-left: 330px;
  font-weight: 400;
}

@media only screen and (max-width: 993px) {
  .breadcrumb-nav { 
    padding-left: 15px !important; }

  #welcome-student {
    padding-left: 15px; 
  }

  .breadcrumb-nav div {
    line-height: 35px;
  }
}


#breadcrumb-d nav {
  background-color: transparent;
  box-shadow: none !important;


}

@media only screen and (min-width: 601px) {
  #breadcrumb-d nav {
    line-height: 43.5px;
  }

  #dash-name:hover {
    background-color: transparent;
    cursor: default;
  }
}

@media only screen and (max-width: 601px) {

  .breadcrumb {
    font-size: 14px !important;
  }
}