{% extends "base.html" %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('static', filename='alertifyjs/alertify.min.js') }}"></script>
{% endblock %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alertifyjs/css/alertify.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='alertifyjs/css/themes/default.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/student/main.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/teacher/create/main.css') }}">

{% endblock %}

{% block content %}

    <div class="center-align">

        {% if True %}
            <h1 class="center-align black-text title">Elective Enroll for Trimester {{ enroll_info.tri_nbr }}</h1>
            <h6 class="center-align black-text close">Elective registration closes on {{ enroll_info.end_time }}</h6>
        {% else %}
            <h1 class="center-align black-text title">Elective registration opens on {{ enroll_info.start_time }}</h1>
        {% endif %}

    </div>


        <div class="main container white z-depth-2 {%  if enrolled_sections|length == 0 %} hide {% endif %}" style="padding-right: 25px; padding-left: 25px;">
            <div class="row head">
                <div id="project_current">

                    <div class="row">
                        <div class="col s6 ">
                            <h3 style="margin-top: 17px;">My Electives:</h3>
                        </div>
                    </div>

                    <table>
                        <tbody id="current_enrolled_sections">
                            {% for section in enrolled_sections %}
                                    {% if section.id not in enrolled_sections %}
                                        <tr id="{{ section.id }}" section_id="{{ section.id }}" name_key="{{ section.elective.name }}" teacher_key="{{ section.teacher.last_name }}, {{ section.teacher.first_name }}" style="font-weight: 300;">
                                            <td><a class="modal-trigger" href="#modal{{ section.id }}"><i class="material-icons tiny">info_outline</i></a></td>
                                            <td>{{ section.elective.name }}</td>
                                            <td>{{ ", ".join(section.times) }}</td>
                                            <td>{{ section.room_nbr }}</td>
                                            <td class="enrolled_count">{{ section.enrolled_count }}/{{ section.max }}</td>
                                            <td></td>
                                            <td>
                                                <a class="enroll btn red lighten-2" id="disenroll_button" onclick="update_status({{ section.id }}, false)">Remove</a>
                                            </td>
                                        </tr>

                                         <div class="modal" id="modal{{ section.id }}">
                                            <div class="modal-content">
                                                <h1>{{ section.elective.name }}</h1>
                                                <p><strong>Teacher:</strong> {{ section.teacher.last_name }}, {{ section.teacher.first_name }}</p>
                                                <p><strong>Project Description:</strong>&nbsp {{ section.elective.description }}</p>
                                                <p><strong>Prerequisites:</strong>&nbsp {{ section.elective.prereqs if section.elective.prereqs != "" else "Na" }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="enroll btn red lighten-2" id="disenroll_button" onclick="update_status({{ section.id }}, false)">Remove</a>
                                            </div>
                                        </div>
                                    {% endif %}

                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

<div id="elective_list_container" class="main container white z-depth-2 col s12" style="padding: 0 25px;">
    <div class="section" id="project_list">
        <h3 class="center-align">Available Electives</h3>

        <div class="row head search-wr">
            <div class="col m6 offset-m1 s12">
                <div class="col s2" style="width: auto !important; padding-top: 10px;">
                    <i class="material-icons" style="position: relative; display: inline-block; ">search</i>
                </div>
                <div class="col s10">
                    <input id="search" style="display: block; font-weight: 300;" placeholder="Search"/>
                </div>
            </div>
            <div class="col m2 offset-m1 s12">
                <a data-target="filter_modal" class="btn btn-block orange lighten-2 modal-trigger">Filter</a>
            </div>
        </div>

        <table class="highlight centered">
            <thead>
                <tr>
                    <th></th>
                    <th><strong>Name</strong></th>
                    <th><strong>Times</strong></th>
                    <th><strong>Room</strong></th>
                    <th><strong>Enrolled/Max</strong></th>
                </tr>
            </thead>
            <tbody id="elective_list" >
                {% for section in sections %}
                    {% if section.id not in enrolled_sections %}
                        <tr id="{{ section.id }}" class="available_elective" section_id="{{ section.id }}" name_key="{{ section.elective.name }}" teacher_key="{{ section.teacher.last_name }}, {{ section.teacher.first_name }}" style="font-weight: 300;">
                            <td>
                                <a class="modal-trigger" href="#modal{{ section.id }}"><i class="material-icons tiny">info_outline</i></a>
                            </td>
                            <td>{{ section.elective.name }}</td>
                            <td>{{ ", ".join(section.times) }}</td>
                            <td>{{ section.room_nbr }}</td>
                            <td class="enrolled_count">{{ section.enrolled_count }}/{{ section.max }}</td>
                            <td>
                                <a class="enroll btn green lighten-2" id="enroll_button" onclick="update_status({{ section.id }}, true)">Enroll</a>
                            </td>
                        </tr>

                        <div class="modal" id="modal{{ section.id }}">
                            <div class="modal-content">
                                <h1>{{ section.elective.name }}</h1>
                                <p><strong>Teacher:</strong> {{ section.teacher.last_name }}, {{ section.teacher.first_name }}</p>
                                <p><strong>Project Description:</strong>&nbsp {{ section.elective.description }}</p>
                                <p><strong>Prerequisites:</strong>&nbsp {{ section.elective.prereqs if section.elective.prereqs != "" else "Na" }}</p>
                            </div>
                            <div class="modal-footer">
                                <a class="enroll btn green lighten-2" id="enroll_button" onclick="update_status({{ section.id }}, true)">Enroll</a>
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <div id="filter_modal" class="modal" style="width: 800px !important; height: 90vh !important;">
        <div class="modal-content" style="padding-bottom: 0;">
            <h3 class="center-align">Filter</h3>

            <div class="row" style="margin-bottom: 10px">
                <h4 class="center-align">Select Mods</h4>

                <table class="table-fill striped centered">
                    <thead id="days">
                        <tr class="table_tr">
                            <th class="table_th">M</th>
                            <th class="table_th">T</th>
                            <th class="table_th">W</th>
                            <th class="table_th">R</th>
                            <th class="table_th">F</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% set mods = ['1-3', '4-6', '7-9', '10-12', '13-15', '16-18', '19-21', '22-24'] %}

                        {%  for i in range(8) %}

                            {% if i % 2 == 1 %}
                                <tr class="table_tr even" id="{{ mods[i] }}">
                            {% else %}
                                <tr class="table_tr odd" id="{{ mods[i] }}">
                            {% endif %}

                                    {% for j in range(5) %}

                                        {% set days = { 0: 'M', 1: 'T', 2: 'W', 3: 'R', 4: 'F' } %}

                                        <td class="availability" style="cursor: pointer" data-chosen="false" id="{{ days[j % 5] }}">{{ mods[i] }}</td>

                                    {% endfor %}
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="modal-action modal-close waves-effect waves red btn-flat">Cancel</a>
            <a href="#" class="modal-action modal-close waves-effect waves green btn-flat" onclick="add_section()">Submit</a>
        </div>
    </div>

<script type="text/javascript">

    $(document).ready(function() {
        function get_times() {
            let selected_times = $("td[data-chosen='true']");
            let time = "";

            for (let i = 0; i < selected_times.length; i++)
                time += (selected_times[i].id + " " + selected_times[i].innerHTML) + (i !== selected_times.length - 1 ? ', ' : '');

            return time;
        }


    });

    // updates a user's status in an elective section
    function update_status(section_id, enroll) {
        let requestData = {};
        requestData.usr_id = {{ g.user.get_id() }};
        requestData.enroll = enroll;

        $.ajax({
            url: '{{ config.LOCAL_DOMAIN }}/elective_enroll/student/enroll/' + section_id,
            type: 'PUT',
            data: JSON.stringify(requestData),
            contentType: 'application/json',
            dataType: "json"

        }).done(function(data) {
            console.log(data);
            console.log("Returned");
            alertify.success("Updated elective status " + section_id);

            let sectionElement = $("#" + section_id);

            if(!enroll) {

                sectionElement.hide();
                // remove "remove" button
                sectionElement.children().last().remove();
                sectionElement.children().last().remove();

                // add "add" button
                sectionElement.append("<td> <a class=\"enroll btn green lighten-2\" id=\"enroll_button\" onclick=\"update_status(" + section_id + ", true)\">Enroll</a></td>");

                decreaseEnrolledCount(section_id);

                sectionElement.show();

                sectionElement.prependTo("#elective_list");
            } else {

                sectionElement.hide();
                // remove add button
                sectionElement.children().last().remove();
                sectionElement.append("<td></td>");
                sectionElement.append("<td> <a class=\"enroll btn red lighten-2\" id=\"disenroll_button\" onclick=\"update_status(" + section_id + ", false)\">Remove</a></td>");

                increaseEnrolledCount(section_id);

                sectionElement.show();

                sectionElement.prependTo("#current_enrolled_sections");


            }

            updateEnrolled();
        }).fail(function(data) {
            console.log(data);
        });
    }

    function increaseEnrolledCount(section_id) {
        let element = $("#" + section_id);

        let textElement = element.children(".enrolled_count");
        let text = textElement.text();
        let num = parseInt(text.split("/")[0]);
        let max = text.split("/")[text.split("/").length-1];

        textElement.text(num+1 + "/" + max);
    }

    function decreaseEnrolledCount(section_id) {
        let element = $("#" + section_id);

        let textElement = element.children(".enrolled_count");
        let text = textElement.text();
        let num = parseInt(text.split("/")[0]);
        let max = text.split("/")[text.split("/").length-1];

        num = num-1 >= 0 ? num-1 : 0;

        textElement.text(num + "/" + max);
    }

    function setEnrolledCount(section_id, new_count) {
        let element = $("#" + section_id);

        let textElement = element.children(".enrolled_count");
        let text = textElement.text();
        let max = text.split("/")[text.split("/").length-1];

        textElement.text(new_count + "/" + max);
    }

    // Check whether to remove the enrolled board if it has no sections left
    function updateEnrolled() {
        let element = $("#current_enrolled_sections");

        let container = element.parent().parent().parent().parent();

        if(element.children().length <= 0) {
            container.hide('fade');
        } else if(!container.is(":visible")) {
            container.hide();
            container.removeClass('hide');
            container.show();
        }
    }

    function asyncUpdateSections() {
        console.log("updating...");
    }


</script>

<script type="text/javascript">
    $(document).ready(function () {
        let signup = {{ 0 if not enroll_info.end_time else 1 }};
        let enroll = {{ 0 if not enroll_info.end_time else 1 }};

        if (signup) {
            if (enroll) {
                $(".enroll_button").removeClass("disabled");
                $(".disenroll_button").addClass("disabled");
            } else {
                $(".enroll_button").addClass("disabled");
                $(".disenroll").removeClass("disabled");
            }
        } else {
            $(".enroll_button").addClass("disabled");
            $(".disenroll_button").addClass("disabled");
        }

        $("#search").on("keyup", function() {

            let query = $("#search").val().toLowerCase();

            $(".available_elective").each(function() {
                if($(this).attr("name_key").toLowerCase().indexOf(query) === -1 && $(this).attr("teacher_key").toLowerCase().indexOf(query) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }

            });

        });

        // update the electives every 5 seconds to remove filled ones/update counts
        setTimeout(asyncUpdateSections(), 5*1000);
    });
</script>

<script type="text/javascript">
    $('.modal').modal({
        inDuration: 100, // Transition in duration
        outDuration: 100 // Transition out duration
    });
</script>

{% endblock %}