{% extends "base.html" %}

{% block styles %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elective/student/main.css') }}">

{% endblock %}

{% block content %}

    <div class="center-align">

        {% if True %}
            <h1 class="center-align black-text title">Elective Enroll for Trimester {{ enroll_info.tri_nbr }}</h1>
            <h6 class="center-align black-text close">Elective registration closes on {{ enroll_info.end_time }}</h6>
        {% else %}
            <h1 class="center-align black-text title">Elective registration opens on {{ enroll_info.start_time }}</h1>
        {% endif %}

    </div>

    {%  if enrolled_sections|length > 0 %}
        <div class="main container white z-depth-2" style="padding-right: 25px; padding-left: 25px;">
            <div class="row head">
                <div id="project_current">

                    <div class="row">
                        <div class="col s6 ">
                            <h3 style="margin-top: 17px;">My Electives:</h3>
                        </div>
                    </div>

                    <table>

{#                     <thead>#}
{#                        <tr>#}
{#                            <th></th>#}
{#                            <th><strong>Name</strong></th>#}
{#                            <th><strong>Teacher</strong></th>#}
{#                            <th><strong>Room</strong></th>#}
{#                            <th><strong>Action</strong></th>#}
{#                        </tr>#}
{#                     </thead>#}

                    {% for section in enrolled_sections %}
                            {% if section.id not in enrolled_sections %}
                                <tr section_id="{{ section.id }}" name_key="{{ section.elective.name }}" teacher_key="{{ section.teacher.last_name }}, {{ section.teacher.first_name }}" style="font-weight: 300;">
                                    <td><a class="modal-trigger" href="#modal{{ section.id }}"><i class="material-icons tiny">info_outline</i></a></td>
                                    <td>{{ section.elective.name }}</td>
                                    <td>{{ section.teacher.last_name }}, {{ section.teacher.first_name }}</td>
                                    <td>Rm {{ section.room_nbr }}</td>
                                    <td></td>
                                    <td>
                                        <a class="enroll btn red lighten-2" id="enroll" onclick="update_status({{ section.id }}, false)">Remove</a>
                                    </td>
                                </tr>

                                <div class="modal" id="modal{{ section.id }}">
                                    <div class="modal-content">
                                        <h1>{{ section.elective.name }}</h1>
                                        <h5>{{ section.teacher.last_name }}, {{ section.teacher.first_name }}</h5>
                                        <p class="flow-text">Elective Description:&nbsp;{{ section.elective.description }}</p>
                                        <p class="flow-text">Prerequisites:&nbsp;{{ section.elective.prereqs if section.elective.prereqs != "" else "Na" }}</p>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            {% endif %}

                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    {% endif %}

<div class="main container white z-depth-2" style="padding: 0 25px;">
    <div class="section" id="project_list">
        <h3 class="center-align">Available Electives</h3>

        <div class="row head search-wr">
            <div class="col m6 offset-m1 s12">
                <i class="material-icons" style="position: absolute; padding-top: 10px;">search</i>
                <input id="search" style="display: block; font-weight: 300; margin-left: 25px; margin-right: -25px;" placeholder="Search"/>
            </div>
            <div class="col m2 offset-m1 s12">
                <button class="btn btn-block orange lighten-2">Filter</button>
            </div>
        </div>

        <table class="highlight centered">
            <thead>
            <tr>
                <th></th>
                <th><strong>Name</strong></th>
                <th><strong>Teacher</strong></th>
                <th><strong>Section</strong></th>
                <th><strong>Enrolled/Max</strong></th>
            </tr>
            </thead>
            {% for section in sections %}
                {% if section.id not in enrolled_sections %}
                    <tr class="available_elective" section_id="{{ section.id }}" name_key="{{ section.elective.name }}" teacher_key="{{ section.teacher.last_name }}, {{ section.teacher.first_name }}" style="font-weight: 300;">
                        <td>
                            <a class="modal-trigger" href="#modal{{ section.id }}"><i class="material-icons tiny">info_outline</i></a>
                        </td>
                        <td>{{ section.elective.name }}</td>
                        <td>{{ section.teacher.last_name }}, {{ section.teacher.first_name }}</td>
                        <td>{{ section.room_nbr }}</td>
                        <td>{{ section.enrolled_count }}/{{ section.max }}</td>
                        <td>
                            <a class="enroll btn green lighten-2" id="enroll" onclick="update_status({{ section.id }}, true)">Enroll</a>
                        </td>
                    </tr>

                    <div class="modal" id="modal{{ section.id }}">
                        <div class="modal-content">
                            <h1>{{ section.elective.name }}</h1>
                            <h5>{{ section.teacher.last_name }}, {{ section.teacher.first_name }}</h5>
                            <p>Project Description:&nbsp;{{ section.elective.description }}</p>
                            <p>Prerequisites:&nbsp;{{ section.elective.prereqs if section.elective.prereqs != "" else "Na" }}</p>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </table>
    </div>
</div>

<script type="text/javascript">

    // updates a user's status in an elective section
    function update_status(section_id, enroll) {
        let requestData = {};
        requestData.usr_id = {{ g.user.get_id() }};
        requestData.enroll = enroll;

        $.ajax({
            url: '{{ config.LOCAL_DOMAIN }}/elective_enroll/student/enroll/' + section_id,
            type: 'PUT',
            data: JSON.stringify(requestData),
            contentType: 'application/json',
            dataType: "json"

        }).done(function(data) {
            console.log(data);
            console.log("Returned");
            alertify.success("Updated elective status " + section_id);
            $("#" + section_id).hide('fade');

        }).fail(function(data) {
            console.log(data);
        });
    }

    function asyncUpdateSections() {
        console.log("updating...");
    }


</script>

<script type="text/javascript">
    $(document).ready(function () {
        let signup = {{ 0 if not enroll_info.end_time else 1 }};
        let enroll = {{ 0 if not enroll_info.end_time else 1 }};

        if (signup) {
            if (enroll) {
                $(".enroll").removeClass("disabled");
                $(".disenroll").addClass("disabled");
            } else {
                $(".enroll").addClass("disabled");
                $(".disenroll").removeClass("disabled");
            }
        } else {
            $(".enroll").addClass("disabled");
            $(".disenroll").addClass("disabled");
        }

        $("#search").on("keyup", function() {

            let query = $("#search").val().toLowerCase();

            $(".available_elective").each(function() {
                if($(this).attr("name_key").toLowerCase().indexOf(query) === -1 && $(this).attr("teacher_key").toLowerCase().indexOf(query) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }

            });

        });

        // update the electives every 5 seconds to remove filled ones/update counts
        setTimeout(asyncUpdateSections(), 5*1000);
    });
</script>

<script type="text/javascript">
    $('.modal').modal({
        inDuration: 100, // Transition in duration
        outDuration: 100 // Transition out duration
    });
</script>

{% endblock %}