{% extends "base.html" %}

{% block content %}

    <?php if($canSignup){?>
        <h1 class="center-align black-text title">Project Enroll for Trimester <?php echo $tri_nbr . ", ". $course_year?></h1>
        <h6 class="center-align black-text close"> Project registration closes on <?php echo date("l, F jS, Y", $end_date). " at " . date("g:i a", $end_date) . "."?></h6>
    <?php } else if($signup_dates == null) {?>
        <h1 class="center-align black-text title">Seniors do not enroll in projects. </h1>
        <h6 class="center-align black-text close">Click on the sidebar to go to senior experience.</h6>
    <?php } else { ?>
    <h1 class="center-align black-text title">Project registration opens on <?php echo date("l, F jS, Y", $start_date) . " at " . date("g:i a", $start_date) . "."?></h1>
    <?php }?>

<div class="main container white z-depth-2">
    <div class="row head">
        <div id="project_current">
            <div class="row valign-wrapper" style="margin-bottom: 0px;">
                <div class="col s4 ">
                    <h2 style="margin-top: 17px;">Current Project:</h2>
                </div>
                <div class="col s4">
                    <div class="center-align">
                        <h2 style="margin-top: 17px;" id="curr_project_label"><b><?php echo get_current_project($usr_id)['project_name']; if (empty(get_current_project($usr_id))) {?> None <?php } ?></b>
                        </h2>
                    </div>
                </div>
                <div class="col s4">
                    <div class="center-align">
                        <a class="disenroll btn red lighten-3" id="disenroll" onclick="submitProject(<?php echo get_current_project($usr_id)['project_id'] ?>, 'disenroll')">Disenroll
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main container white z-depth-2">
    <div class="section" id="project_list">
        <h2>Available Projects</h2>
        <table class="highlight responsive-table centered">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Teacher</th>
                <th>Room</th>
                <th>Max</th>
            </tr>
            </thead>
            <?php foreach ($projectsList as $project) { ?>
                <?php if (($curr_project['project_id'] != $project['project_id'])) {?>
                <tr style="font-weight: 300;">
                    <td><a class="modal-trigger" href="#modal<?php echo $project['project_id'] ?>"><i class="material-icons tiny">info_outline</i></a></td>
                    <td><?php echo $project['project_name'] ?></td>
                    <td><?php echo $project['teacher'] ?></td>
                    <td><?php echo $project['room_nbr'] ?></td>
                    <td><?php echo $project['max_nbr'] ?></td>
                    <td>
                        <a class="enroll btn green lighten-3" id="enroll" onclick="submitProject(<?php echo $project['project_id'] ?>, 'enroll')">Enroll</a>
                    </td>
                </tr>

                <div class="modal" id="modal<?php echo $project['project_id']?>">
                    <div class="modal-content">
                        <h1><?php echo $project['project_name'] ?></h1>
                        <h5><?php echo $project['teacher'] ?></h5>
                        <p class="flow-text">Project Description:&nbsp;<?php echo $project['project_desc'] ?></p>
                        <p class="flow-text">Prerequisites:&nbsp;<?php echo $project['prereq'] ?></p>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>

            <?php } } ?>
        </table>
    </div>
</div>
<script>
    function submitProject(project_id, action) {
        window.location.href = "index.php?action=project_" + action + "&project_id=" + project_id;
    }
</script>
<script>
    $(document).ready(function () {
        var signup = (<?php echo json_encode($canSignup) ?>);
        var enroll = (<?php echo json_encode($canEnroll)?>);

        if (signup == true) {
            if (enroll == true) {
                $(".enroll").removeClass("disabled");
                $(".disenroll").addClass("disabled");
            } else {
                $(".enroll").addClass("disabled");
                $(".disenroll").removeClass("disabled");
            }
        }
        else {
            $(".enroll").addClass("disabled");
            $(".disenroll").addClass("disabled");
        }
    });
</script>
<script>
    $('.modal').modal({
        inDuration: 100, // Transition in duration
        outDuration: 100 // Transition out duration
    });
</script>

{% endblock %}