h1 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 1rem;

}

h2 {
    text-align: center;
    font-size: 150%;
}

h4 {
    text-align: center;
    font-size: 12px;
}

.loading {
    display: none;
}

.modal_h2 {
    font-weight:500;
}

#project_current h2 {
    padding-top: 1% !important;
}

.main {
}

.title {
    font-size: 125%;
}

.name {
    font-weight: 400;
}

.modal-content p {
    font-size: 140%;
}

.material-icons {
    font-size: 20px !important;
}

.containerc {
    margin-left: 1% !important;
}

.logout {
    margin-bottom: 5%;
}

.status {
    font-size: 100%;
}

.section {
    margin-bottom: 5%;
    padding-bottom: 3%;
}

.close {
    padding-bottom: 10px;

}

/*.collapsible-header {*/
    /*display: block; !important*/
/*}*/

.collapsible {
    line-height: normal;
}