h1 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 1rem;

}

h2 {
    text-align: center;
    font-size: 150%;
}

h4 {
    text-align: center;
    font-size: 12px;
}

.loading {
    display: none;
}

.modal_h2 {
    font-weight:500;
}

#project_current h2 {
    padding-top: 1% !important;
}

.main {
}

.title {
    font-size: 125%;
}

.name {
    font-weight: 400;
}

.modal-content p {
    font-size: 140%;
}

.material-icons {
    font-size: 20px !important;
}

.containerc {
    margin-left: 1% !important;
}

.logout {
    margin-bottom: 5%;
}

.status {
    font-size: 100%;
}

.section {
    margin-bottom: 5%;
    padding-bottom: 3%;
}

.close {
    padding-bottom: 10px;

}

/*.collapsible-header {*/
    /*display: block; !important*/
/*}*/

.collapsible {
    line-height: normal;
}

.modal-footer {
    text-align: center !important;
}

strong {
    font-weight: 500;
}

.modal-content h1 {
    font-weight: 600;
}

#elective_list  {
    min-height: 300px;
    max-height: 600px;
    overflow-y: scroll;
}

@media only screen and (max-width: 950px) {
    .container {
          width: 100%;
    }

    #elective_list #enroll_button, #disenroll_button {
        font-size: 0.5em;
    }

    #elective_list_container {
        padding: 0 10px;
    }

    #elective_list {
        padding: 0 15px;
    }

    thead tr th:nth-child(5) {
        display: none;
    }

    tbody tr td:nth-child(5) {
        display: none;
    }
}